<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaweher.offreemploi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Offreemploi">
        <activity android:name=".profilUser" />
        <activity android:name=".ListEmploiSociete" />
        <activity android:name=".ProfilSociete" />
        <activity android:name=".SplashSreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Parameter" />
        <activity android:name=".menupage1" />
        <activity android:name=".UpdateEmploi" />
        <activity android:name=".DeletUpdateEmploi" />
        <activity android:name=".AjoutEmploi" />
        <activity android:name=".ListFavoris" />
        <activity android:name=".ConsultationEmploi" />
        <activity android:name=".InscriptionSociete" />
        <activity android:name=".LoginSociete" />
        <activity android:name=".InscriptionUser" />
        <activity android:name=".LoginUser" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>